<!DOCTYPE html>
<html>
	<head>
		<title>文章</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet/less" type="text/css" href="../style/weui.less" />
		<script type="text/javascript" src="../scripts/zepto.min.js"></script>
    	<script type="text/javascript" src="../scripts/less.js" ></script>
    	<script type="text/javascript" src="../scripts/template.js" ></script>
    	<script type="text/javascript">
    		$(function(){
    			
    		});
    	</script>
	</head>
	<body>
		<div class="weui_article">
			<h1>文章采用一个固定的格式，h1大标题</h1>
			<h2 class="title">1.h2副标题</h2>
			<section>
				<h3>1.1每一小节写在一个section里，h3小节标题</h3>
				<p>小节内容写在p标签里：Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute</p>
			</section>
			<section>
				<h3>1.2第二小节，图文搭配</h3>
				<p>小说：以刻画人物形象为中心，通过完整的故事情节和环境描写来反映社会生活的文学体裁。人物、情节、
					环境是小说的三要素。情节一般包括开端、发展、高潮、结局四部分，有的包括序幕、尾声。环境包括自
					然环境和社会环境。</p>
				<p><img src="../images/01.png"/></p>
				<p>小说：以刻画人物形象为中心，通过完整的故事情节和环境描写来反映社会生活的文学体裁。人物、情节、
					环境是小说的三要素。情节一般包括开端、发展、高潮、结局四部分，有的包括序幕、尾声。环境包括自
					然环境和社会环境。</p>
				<p><img src="../images/02.png"/></p>
			</section>
		</div>
    
	</body>
</html>
