<!DOCTYPE html>
<html>
	<head>
		<title>按钮</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet/less" type="text/css" href="../style/weui.less" />
		<script type="text/javascript" src="../scripts/zepto.min.js"></script>
    	<script type="text/javascript" src="../scripts/less.js" ></script>
    	<script type="text/javascript" src="../scripts/template.js" ></script>
    	<script type="text/javascript">
    		$(function(){
    			
    		});
    	</script>
	</head>
	<body>
    	<h1 class="page-hd-title">
            按钮
        </h1>
        <div class="page-bd-15">
        	<a href="javascript:;" class="weui_btn weui_btn_primary">默认</a>
        	<a href="javascript:;" class="weui_btn weui_btn_disabled weui_btn_primary">禁点</a>
        	<a href="javascript:;" class="weui_btn weui_btn_warn">warn</a>
        	<a href="javascript:;" class="weui_btn weui_btn_default">default</a>
        	<a href="javascript:;" class="weui_btn bg-blue">bg-blue</a>
        	<a href="javascript:;" class="ui_btn ui_btn_default f15">确认</a>
        	<a href="javascript:;" class="ui_btn ui_btn_default"><i class="icon icon-66 f25"></i></a>
        	<a href="javascript:;" class="ui_btn ui_btn_warn f15">取消</a>
        	<a href="javascript:;" class="ui_btn ui_btn_warn f15">确认</a>
        	<a href="javascript:;" class="ui_btn ui_btn_blue f15">取消</a>
        	<a href="javascript:;" class="ui_btn ui_btn_green f15">确认</a>
        	<a href="javascript:;" class="ui_btn ui_btn_primary f15">确认</a>
        	<a href="javascript:;" class="ui_btn ui_btn_orange f15">confirm</a>
        	<div class="weui_cells_title">块级按钮，自适应最大宽度</div>
        	<a href="javascript:;" class="ui_btn maxW ui_btn_blue f15">取消</a>
        	<a href="javascript:;" class="ui_btn maxW ui_btn_green f15">确认</a>
        	<a href="javascript:;" class="ui_btn maxW ui_btn_primary f15">确认</a>
        	<div class="maxW">
        		<div class="weui_btn_area weui_btn_area_inline">
			        <a href="javascript:;" class="weui_btn weui_btn_primary">按钮</a>
			        <a href="javascript:;" class="weui_btn weui_btn_warn">按钮</a>
			        <a href="javascript:;" class="weui_btn bg-orange">按钮</a>
		        </div>
        	</div>
        	<div class="weui_cells_title">行内按钮，宽度由内容决定</div>
        	<a href="javascript:;" class="weui_btn bg-orange weui_btn_inline">橙色bg-orange</a>
        	<a href="javascript:;" class="weui_btn bg-white weui_btn_inline">confirm</a>
        	<div class="weui_cells_title">行内响应式按钮，自适应宽度</div>
        	<div class="weui_btn_area weui_btn_area_inline">
	        <a href="javascript:;" class="weui_btn weui_btn_primary">按钮</a>
	        <a href="javascript:;" class="weui_btn weui_btn_warn">按钮</a>
	        <a href="javascript:;" class="weui_btn bg-orange">按钮</a>
	        </div>
	        <div class="weui_cells_title">宽度为60%的按钮。mini按钮，自动分配间距</div>
	        <div class="button_sp_area">
	            <a href="javascript:;" class="weui_btn weui_btn_plain_default">按钮</a>
	            <a href="javascript:;" class="weui_btn weui_btn_plain_primary">按钮</a>
	            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_primary">按钮</a>
	            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default">按钮</a>
	            <a href="javascript:;" class="weui_btn weui_btn_mini ui_btn_default">按钮</a>
	        </div> 
	        <div class="weui_cells_title">带图标按钮</div>
	        <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_plain_primary f20"><i class="weui_icon_success  f30"></i>成功</a>
			<a href="javascript:;" class="weui_btn weui_btn_mini bg-orange f20"><i class="icon icon-73 f20"></i>失败</a>
        </div>
    
	</body>
</html>
