<!DOCTYPE html>
<html>
	<head>
		<title>字体</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet/less" type="text/css" href="../style/weui.less" />
		<script type="text/javascript" src="../scripts/zepto.min.js"></script>
    	<script type="text/javascript" src="../scripts/less.js" ></script>
    	<script type="text/javascript" src="../scripts/template.js" ></script>
    	<script type="text/javascript">
    		$(function(){
    			
    		});
    	</script>
	</head>
	<body>
    	<div class="page-bd-15">
    		<div class="weui_cells_title">标题 h1-h6</div>
    		<h1>标题提供h1-h6六种选择</h1>
			<h2>标题提供h1-h6六种选择</h2>
			<h3>标题提供h1-h6六种选择</h3>
			<h4>标题提供h1-h6六种选择</h4>
			<h5>标题提供h1-h6六种选择</h5>
			<h6>标题提供h1-h6六种选择</h6>
			<div class="weui_cells_title">字体f11-f55</div>
			<div class="f11">字体提供f11-f55多种选择</div>
			<div class="f21">字体提供f11-f55多种选择</div>
			<div class="f31">字体提供f11-f55多种选择</div>
			<div class="f35">字体提供f11-f55多种选择</div>
			<div class="f40">字体提供f11-f55多种选择</div>
			<div class="f55">字体提供f11-f55多种选择</div>
			<div class="weui_cells_title">字体颜色和字体背景色</div>
			<p>
				<span class='f-red'>红色f-red</span><span class='f-green'>绿色f-green</span>
				<span class='f-blue'>蓝色f-blue</span><span class='f-black'>f-black</span>
				<span class='f-white bg-blue'>f-white</span><span class='f-zi'>f-zi</span> 
				<span class='f-gray'>灰色f-gray</span> <span class='f-yellow'>黄色</span>
				<span class='f-orange'>f-orange</span><span class='f-white bg-blue'>背景蓝色bg-blue</span>
				<span class='bg-orange f-white'>bg-orange</span>
				<span class='weui_btn_primary f-white'>背景绿色weui_btn_primary</span>
				<span class='weui_btn_warn f-white'>weui_btn_warn</span>
				<span class='weui_btn_default f-red'>weui_btn_default</span>
			</p>
			<div>
    			<div class="weui_cells_title">文字交互</div>
				<span class="f-12 usabledFont">Type something</span>
    		</div>
    	</div>
    
	</body>
</html>
