<!DOCTYPE html>
<html>
	<head>
		<title>字体</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet/less" type="text/css" href="../style/weui.less" />
		<script type="text/javascript" src="../scripts/zepto.min.js"></script>
    	<script type="text/javascript" src="../scripts/less.js" ></script>
    	<script type="text/javascript" src="../scripts/template.js" ></script>
    	<script type="text/javascript">
    		$(function(){
    			
    		});
    	</script>
	</head>
	<body>
		<table class="weui-table weui-border-tb weui-table-2n" >
		    <thead>
		    <tr><th>已购买</th><th>状态</th><th>会员到期时间</th></tr>
		    </thead>
		    <tbody>
		    <tr><td>2014257777</td><td>使用中</td><td><a href='' >2016-02-06</a></td></tr>
		    <tr><td>2014257777</td><td>待付款</td><td><input type="checkbox" name="vehicle" value="Car" /></td></tr>
		    <tr><td>2014257777</td><td>待付款</td><td><a href="" >付款</a></td></tr>
		    </tbody>
		</table>
		
		<br>
		<table class="weui-table weui-border-tb" >
		    <thead>
		    <tr><th>已购买</th><th>状态</th><th>会员到期时间</th></tr>
		    </thead>
		    <tbody>
		    <tr><td>2014257777</td><td>使用中</td><td><a href='' >2016-02-06</a></td></tr>
		    <tr><td>2014257777</td><td>待付款</td><td><input type="checkbox" name="vehicle" value="Car" /></td></tr>
		    <tr><td>2014257777</td><td>待付款</td><td><a href="">付款</a></td></tr>
		    </tbody>
		</table>
    
	</body>
</html>
