<!DOCTYPE html>
<html>
	<head>
		<title>更新日志</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet/less" type="text/css" href="../style/weui.less" />
		<style>
			ul{margin-left: 15px;}
		</style>
		<script type="text/javascript" src="../scripts/zepto.min.js"></script>
    	<script type="text/javascript" src="../scripts/less.js" ></script>
    	<script type="text/javascript" src="../scripts/template.js" ></script>
    	<script type="text/javascript">
    		$(function(){
				
    		});
    	</script>
	</head>
	<body>
		<div class="timeline">
    		<ul>
				<li class="timeline-item"> 
					<div  class="timeline-item-head"> 
						<i class="weui_icon weui_icon_success_no_circle timeline-item-checked hide" ></i> 
					</div> 
					<div class="timeline-item-tail" ></div> 
					<div class="timeline-item-content"> 
						<h4>2018.7.20</h4>
						<p>1.添加基本组件</p><p>2.扩展部分组件内容包括：滑块、弹窗、toast、轮播</p> <p>3.加入主题色切换</p>  
					</div> 
				</li>
				<li class="timeline-item"> 
					<div  class="timeline-item-head"> 
						<i class="weui_icon weui_icon_success_no_circle timeline-item-checked hide" ></i> 
					</div> 
					<div class="timeline-item-tail" ></div> 
					<div class="timeline-item-content"> 
						<h4>2018.8.21</h4> 
						<p>1.添加新组件包括：底部弹出菜单、搜索框、底部结算栏、卡片</p> 
						<p>2.扩展部分组件内容包括：一套新风格的输入框和按钮、可交互九宫格、大量淘宝图标、横向滑动式卡片、页面悬浮按钮、更多的轮播形式</p> 
						<p>3.调整搜索框样式及交互</p> 
					</div> 
				</li>
			    <li class="timeline-item"> 
			    	<div  class="timeline-item-head"> 
			    		<i class="weui_icon weui_icon_success_no_circle timeline-item-checked hide" ></i> 
			    	</div> 
			    	<div class="timeline-item-tail hide" ></div> 
			    	<div class="timeline-item-content"> 
			    		<h4>2019.1.4</h4> 
			    		<p>1.扩展部分组件内容包括：面板、卡片、列表、手风琴菜单、开关、图片预览、按钮、文字、提示</p>
			    		<p>2.调整部分组件内容包括：输入框、弹窗、底部弹出、底部结算栏</p>
			    		<p>3.去除每一个组件的代码预览，页面更简洁</p> 
			    	</div> 
			    </li>
			</ul>
		</div>
	</body>
</html>
